
@media screen and (max-width: 810px){
    #hebergement__card{
        flex-direction: column;
    }
    .hebergement{
        order: 1;
    }
    
    #activite{
        padding: 20px;
    }
    .activite__container{
        margin-bottom: 50px;
        display: grid;
        gap: 10px;
        margin: 0 20px;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(3, 0.3fr);
        height: 50%;
        grid-template-areas: 
        'big1 medium1' 
        'small1 big2' 
        'small2 medium2';     
       }
}

@media screen and (max-width:768px ){
    .card  img{
        object-fit:cover;
        object-position: center;
    }

    #hebergement__card .hebergement{
        background-color: white;
    }
    #hebergement__card{
        flex-direction: column;       
    }
    .hebergement{
        order: 1;
    }
    .heb__card{
        flex-direction: column;
    }
    .heb__card h3 , .foot__heb{
        flex-basis:50%;
        justify-content: flex-start;      
    }
    
    .activite__container{
        margin-bottom: 50px;
        display: grid;
        gap: 10px;
        margin: 0 20px;
        grid-template-columns:100%;
        grid-template-rows:repeat(6, 0.3fr);
        height: 50%;
        grid-template-areas: 
        'big1' 
        'medium1'
        'small1' 
        'big2'
        'small2 '
        'medium2';     
    }

    .footer__card {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .footer__card > *{
        flex-basis: 100%;
        padding: 0 30px;
    }        
    .header__nav{
        justify-content: center;
    }
    .nav__heb{
        flex-basis: 100%;
    }
    .logo{
        margin-top: 20px;
    }
    .nav__heb a{
        flex-basis: 50%;
        text-align: center;    
    }
    .header__nav a:hover{
        border-bottom: 2px solid #0065FC;
        border-top-color: transparent;
    }
    .form__marseille *{
        box-sizing: content-box;
        padding: 10px 15px;
        width: 100%;
    }
    .search__placeholder{
        flex-basis: 100%;
    }
    .filtre h4{
        flex-basis: 100%;
    }
    .fa-input {
        display: inline; 
        font-family: FontAwesome; 
        background-color: #0065FC;
        color: white;
        border: none;
        flex-basis: 10px;
        border-radius: 10px;
        cursor: pointer;
        }
    .search__button{
        display: none;
    }
    
    .search__placeholder{
        flex-basis: 30%;
        margin-right: -40px;
    }
}