.filtre{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.filtre__name{
    border: 3px solid #F2F2F2;
    margin: -10px;
    border-radius: 30px;
 
}
.filtre__name i{
    color:#0065FC;
    height: 48px;
    width: 48px;
    padding: 16px;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin: -0.8px;
    text-align: center;
    
}
.filtre__name span{
    padding: 10px;
    font-weight: bold;
}
.filtre__name:hover{
 background-color: #0065FC;
 color: #F2F2F2;  
}
