footer{
    background-color: #F2F2F2;
    margin: 0;
   
}
.footer__card {
    max-width: 992px;
    display: flex;
    flex-wrap: wrap;
    align-items:baseline;
    margin: 0 auto;
    justify-content: space-between; 
    padding-bottom: 30px; 
    
}
