header{
    margin: 0 auto;
    max-width: 992px;
}

.header__nav a{
    padding: 40px;
    border: 2px solid transparent;
}
.header__nav a:hover{
    border-top-color:  #0065FC;
}
.header__nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    gap:10px;
    padding: 0 20px;
}

.logo img{
    object-fit: cover;
    height: 40px;
    width: 100%;
}
.hebergement--nav{
    color: #0065FC;
}
.nav__heb{  
    display: flex;
}
.nav__heb a{
    font-weight: bolder;
}