*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
main{
    margin: 0 auto;
    max-width: 992px;
}
body{
    margin: 0 ;
}
/*----- Header -----------*/
header{
    margin: 0 auto;
    max-width: 992px;
}
.header__nav a{
    padding: 40px;
}
.header__nav a:hover{
    border-top: 2px solid #0065FC;
}
.header__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    margin-right: auto;
    height: 50px;
}
.hebergement--nav{
    color: #0065FC;
}
/*------Main-----------------------*/

h1{
    font-size: 21px;
}

/*-----Search bar----------------*/
.search__bar{
    display: flex;
}
.search__bar i{
    padding: 17px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.search__bar input{
    padding: 0 40px;
    border: 1px solid #F2F2F2;
}
::placeholder{
    color: black;
    font-weight: bold;
    font-size: medium;
    
}
.search__bar button{
    border-radius: 0 12px 12px 0;
    background: #0065FC;
    border: none;
    font-size: medium;
    color: #F2F2F2;
    font-weight: bold;
    padding: 0 30px;
    cursor:pointer;
}
/*------FIltre-------------*/

.filtre{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.filtre__name{
    border: 3px solid #F2F2F2;
    margin: -10px;
    border-radius: 30px;
 
}
.filtre__name i{
    color:#0065FC;
    height: 48px;
    width: 48px;
    padding: 16px;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin: -0.8px;
    
}
.filtre__name span{
    padding: 10px;
    font-weight: bold;
}
/*-----info-------*/ 
.info {
    display: flex;
    align-items:center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.info i{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------Hebergement__card--------*/
.hebergement__card{
    display: flex;
    gap: 20px;
}
.hebergement__card > div{
    background-color: #F2F2F2;
    border-radius: 20px ;
    padding: 0 20px;
}
.hebergement{
    flex-basis: 70%; 
}
.heb__card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 5px #e3dfdf;
    padding: 5px;
    border: 1px solid blue;
    flex:1 30%;
}
.card h4, .prix, .etoile{
    padding-left: 10px;  
    margin-top: 0;
    font-size: small;
}
.card .etoile{
    color: #0065FC;
    margin-bottom: 5px;
}
.prix em{
    font-weight: bold;
    font-style: normal;
}


/*-----images Hébergements à Marseille-----*/
.card  img{
    height: 100px;
    width: 100%;
    box-sizing: content-box;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0 ;
}
.card > *{
  margin-bottom: 0; 
}
/*------mise en forme populaire ( trend)*/

.pop__card{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.pop__card > div{
    border: 1px solid blue;  
}
.pop__card img{
    height: 100px;
    width: 90px;
    box-sizing: content-box;
    object-fit:cover;
}
.pop__struct{
    display: flex;
    flex-direction: row;
}
/* activite ---------------------------------------*/

.activite__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    justify-content: center;
}

.A__card{
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 10px 10px 10px  #F2F2F2;
}
.A__card p{
    font-weight: bold;
    padding-left: 20px;
}
.child__1{
    grid-row: 1/4;
}
.child__2{
    grid-row: span 2;
}
.child__3{
    grid-column: 2/3;
    grid-row: 3/4;
}

.child__4{
    grid-column: 3/ 4;
    grid-row: 1/ span 3;
}

.child__6{
    grid-row: span 2;
}


.child__1 img, .child__4 img{
    box-sizing: content-box;
    width: 100%;
    height: 400px;
    object-fit:cover;
    border-radius: 20px 20px 0 0;
    
}

.child__2 img , .child__6 img {
    box-sizing: content-box;
    width: 100%;
    height: 180px;
    object-fit:cover;
    border-radius: 20px 20px 0 0;
    
}
.child__5 img , .child__3 img{
    box-sizing: content-box;
    width: 100%;
    height: 100px;
    object-fit:cover;
    border-radius: 20px 20px 0 0;
}




/* footer ***/

footer{
    background-color: #F2F2F2;
    margin: 0;
}
.footer__card{
    display: flex;
    margin: 0 auto;
    max-width: 992px;
    padding: 0 ;
    gap: 150px;
        
}
.footer__card p {
    margin: 5px; 
}

/* breakpoint*/

@media screen  and (max-width:768px ){
    .card{
        flex: 1 200px;
        min-width: 350px;
        max-width: 350px;
    }
    .card  img{
        object-fit:cover;
        object-position: center;
    }
}