*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
}
a{
    color: inherit;
    text-decoration: none;
}
main{
    margin: 0 auto;
    max-width: 992px;
}
body{
    margin: 0 ;
}
/*----- Header -----------*/
header{
    margin: 0 auto;
    max-width: 992px;
}
.header__nav a{
    padding: 40px;
}
.header__nav a:active{
    border-top: 2px solid #0065FC;
}
.header__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    margin-right: auto;
    height: 50px;
}
.hebergement--nav{
    color: #0065FC;
}
/*------Main-----------------------*/

h1{
    font-size: 21px;
}

/*-----Search bar----------------*/
.search__bar{
    display: flex;
}
.search__bar i{
    padding: 17px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.search__bar input{
    padding: 0 40px;
    border: 1px solid #F2F2F2;
}
::placeholder{
    color: black;
    font-weight: bold;
    font-size: medium;
    
}
.search__bar button{
    border-radius: 0 12px 12px 0;
    background: #0065FC;
    border: none;
    font-size: medium;
    color: #F2F2F2;
    font-weight: bold;
    padding: 0 30px;
    cursor:pointer;
}
/*------FIltre-------------*/

.filtre{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.filtre__name{
    border: 3px solid #F2F2F2;
    margin: -10px;
    border-radius: 30px;
 
}
.filtre__name i{
    color:#0065FC;
    height: 48px;
    width: 48px;
    padding: 16px;
    border-radius: 50%;
    background-color: #DEEBFF;
    margin: -0.8px;
    text-align: center;
    
}
.filtre__name span{
    padding: 10px;
    font-weight: bold;
}
/*-----info-------*/ 
.info {
    display: flex;
    align-items:center;
    gap: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.info i{
    color: #0065FC;
    border: 1px solid #F2F2F2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*--------Hebergement__card--------*/
#hebergement__card{
    display: flex;
    gap: 20px;
}
#hebergement__card .hebergement, .populaire{
    background-color: #F2F2F2;
    border-radius: 20px ;
    padding: 0 20px;
}
.hebergement{
    flex-basis: 70%;
 
}
.heb__card h3{
    flex-basis: 100%;
}
.foot__heb{
    flex-basis: 100%;
    font-weight: bolder;
    margin-top: 15px;
}
.heb__card {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    border-radius: 15px;
    background-color: white;
    box-shadow: 5px 5px 5px #e3dfdf;
    flex:1 30%;
    overflow: hidden;
    position: relative;
    border: 5px solid white;

}
.card h4, .prix, .etoile{
    padding-left: 10px;  
    margin-top: 0;
    font-size: small;
}
.card .etoile{
    color: #0065FC;
    margin-bottom: 5px;
}


/*-----images Hébergements à Marseille-----*/
.card  img{
    height: 100px;
    width: 100%;
    box-sizing: content-box;
    object-fit: cover;
    object-position: center;
    
}
.card > *{
  margin-bottom: 0; 
}
/*_____________trend and title and footer________*/
.populaire h3{
    display: flex;
    justify-content: space-between;
}
/*_________mise en forme populaire_____*/
.populaire{
    flex-basis: 30%; 
}
.pop__card{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    gap: 10px;
    padding: 10px 0;
    box-sizing: content-box;
}
.pop__card > div{
    border: 1px solid #F2F2F2;
    background-color: white;
    border-radius: 15px;
    min-width: 300px;
}
.pop__struct img{
    height: 130px;
    width: 100%;
    max-height: 100%;
    flex-basis: 50%;
    padding: 5px;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    object-position:left;
}
.pop__struct{
    display: flex;
    gap: 10px;
}
.flex__pop{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-basis: 50%;
    justify-content: flex-end;
}
.flex__pop *{
    font-size: small;
}
.etoile__pop{
    color: #0065FC;
}
.flex__pop h4{
    margin-bottom: 0;
}


/*___________activite ____________*/

.activite__container{
 
 margin-bottom: 50px;
 display: grid;
 gap: 10px;
 grid-template-columns: repeat(4, 1fr);
 grid-template-rows: 0.2fr 0.1fr 0.2fr ;
 grid-template-areas: 
 "big1 medium1 big2 small2"
 "big1 medium1 big2 medium2"
 "big1 small1 big2  medium2"
 
 ;
}
.child__card{
    padding-bottom: 30px ;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    border: 1px solid #F2F2F2;
}
.child__card:nth-child(1){
    grid-area: big1;
}
.child__card:nth-child(2){
     grid-area: medium1;
}
.child__card:nth-child(3){
   grid-area: small1;
}
.child__card:nth-child(4){
  grid-area: big2;
}
.child__card:nth-child(5){
    grid-area: small2;
}
.child__card:nth-child(6){
    grid-area: medium2;
}
.child__card p{
    font-size: small;
    margin: 10px 0 0 10px;
    
}
.child__card img{
    display:block;
    height:100%;
    width: 100%;
    object-fit: cover;
    
}
.child__card *{
    box-sizing: content-box;
    height: 100%;
}
/*_________________footer ________________*/

footer{
    background-color: #F2F2F2;
    margin: 0;
}
.footer__card{
    display: flex;
    margin: 0 auto;
    max-width: 992px;
    padding: 0 ;
    gap: 150px;
        
}
.footer__card p {
    margin: 5px; 
}

/* breakpoint*/


@media screen and (max-width: 810px){
    #hebergement__card{
        flex-direction: column;
    }
    .hebergement{
        order: 1;
    }
    
    #activite{
        padding: 20px;
    }
    .activite__container{
        margin-bottom: 50px;
        display: grid;
        gap: 10px;
        margin: 0 20px;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows:repeat(3, 0.3fr);
        height: 50%;
        grid-template-areas: 
        'big1 medium1' 
        'small1 big2' 
        'small2 medium2';     
       }
}

@media screen and (max-width:768px ){
    
    .card  img{
        object-fit:cover;
        object-position: center;
    }

    #hebergement__card .hebergement{
        background-color: white;
    }
    #hebergement__card{
        flex-direction: column;
        
    }
    .hebergement{
        order: 1;
    }
    .heb__card{
        flex-direction: column;
    }
    .heb__card h3 , .foot__heb{
        flex-basis:50%;
        justify-content: flex-start;      
    }
    
    .activite__container{
        margin-bottom: 50px;
        display: grid;
        gap: 10px;
        margin: 0 20px;
        grid-template-columns:100%;
        grid-template-rows:repeat(6, 0.3fr);
        height: 50%;
        grid-template-areas: 
        'big1' 
        'medium1'
        'small1' 
        'big2'
        'small2 '
        'medium2';     
       }
      
     
}
