/*-----Search bar----------------*/
.form__marseille{
    display: flex;
    align-items: center;
    
}
.form__marseille > *{
    box-sizing: content-box;
    padding: 10px 15px;
    font-size: medium;
    height: 20px;
}

i.fa-solid.fa-location-dot{
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
    flex-basis: 10px; 
}
i.fa-solid.fa-magnifying-glass{
    display: none;
}
.search__placeholder{
    border: 1px solid #F2F2F2;
    flex-basis: 20%;
}
::placeholder{
    color: black;
    font-weight: bold;
    font-size: medium;
    
}
.form__marseille .search__button{
    border-radius: 0 12px 12px 0;
    background: #0065FC;
    border: none;
    color: #F2F2F2;
    font-weight: bold;
    flex-basis: 10%;
    cursor:pointer;   
}

