/*-----Search bar----------------*/
.search__bar{
    display: flex;
}
.search__bar i{
    padding: 17px;
    background-color: #F2F2F2;
    border-radius: 10px 0 0 10px;
}
.search__bar input{
    padding: 0 40px;
    border: 1px solid #F2F2F2;
}
::placeholder{
    color: black;
    font-weight: bold;
    font-size: medium;
    
}
.search__bar .search__button{
    border-radius: 0 12px 12px 0;
    background: #0065FC;
    border: none;
    font-size: medium;
    color: #F2F2F2;
    font-weight: bold;
    padding: 0 30px;
    cursor:pointer;
}